.background_img_des {
  height: 260px;
  width: 100%;
  background-image: url("./img/FavBackground.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: white;
  }
}
.about_descr_fev {
  width: 40%;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  img {
    width: 272px;
    height: 355px;
    filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));

  }
}
.line {
  width: 240px;
  border: 1px solid black;
  margin: 60px auto;
}
